@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
    background-color: whitesmoke;
    font-family: 'Inter', sans-serif;
}


.email {
    display: grid;
    grid-area: 10/5/6/7;
    row-gap: 5px;
    border: 10px;
    width: 410px;
    background-color: orange;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 20px;
    border-radius: 10px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-content: center;
    box-shadow: 10px 12px 20px -6px #4e4848;
}


.h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    font-family: 'Inter', sans-serif;
    padding-bottom: 4px;

}


.h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-family: 'Inter', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;

}

.input-email {
    display: grid;
    background-color: antiquewhite;
    font-size: 17px;
    resize: none;
    outline: none;
    border: 3px;
    border-radius: 3px;
    padding-left: 10px;
    padding: 9px;
}

.btn {
    display: flex;
    background-color: black;
    color: antiquewhite;
    margin-top: 10px;
    font-size: 1rem;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    border-radius: 3px;
    width: 50%;
    text-align: center;
    justify-content: center;
    justify-self: center;
    padding: 9px 0 9px 0;
}

.btn:hover {
    background-color: black;
    transition: 0.2s;
    color: orange;
    cursor: pointer;
}